# Test Enrichment Pipeline

In [1]:
import os, sys
sys.path.append(os.path.abspath('../'))

In [3]:
from src.pipeline.ingestion import IngestionPipeline
from src.pipeline.enrichment import EnrichmentPipeline

In [ ]:


ip = IngestionPipeline()
data = ip.run()
# Use a small sample for enrichment
sample = data['scored_data'].head(2)
ep = EnrichmentPipeline()
profiles = ep.enrich(data['scored_data'], data['feature_metadata'])
print(profiles)

  customer_id                                            profile
0   1-1013HKU  This customer (ID: 1-1013HKU) exhibits moderat...
1   1-10KIP0I  Customer 1-10KIP0I demonstrates low broadband ...

In [5]:
profiles

  customer_id                                            profile
0   1-1013HKU  This customer (ID: 1-1013HKU) exhibits moderat...
1   1-10KIP0I  Customer 1-10KIP0I demonstrates low broadband ...